body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #000; /* fundo preto */
  color: #FFD700;   /* texto dourado */
}

header {
  background: #111;
  color: #FFD700;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #FFD700;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

nav {
  margin-top: 10px;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #FFD700;
  background: #000;
  color: #FFD700;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

nav button:hover {
  background: #FFD700;
  color: #000;
}

.aba {
  display: none;
  padding: 20px;
}

.aba.ativa {
  display: block;
}

h2 {
  border-bottom: 2px solid #FFD700;
  padding-bottom: 5px;
}

form label {
  display: block;
  margin: 10px 0;
}

input, select {
  padding: 5px;
  border: 1px solid #FFD700;
  border-radius: 4px;
  background: #111;
  color: #FFD700;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #FFD700;
  background: #000;
  color: #FFD700;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #FFD700;
  color: #000;
}

/* Tabelas */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  background: #111;
  color: #FFD700;
}

table, th, td {
  border: 1px solid #FFD700;
}

th, td {
  padding: 8px;
  text-align: center;
}

.table-wrap {
  overflow-x: auto;
}
